 @* The Identity UI package requires a partial view named _LoginPartial, which is displayed at the top of every
page. This approach means the same partial view can be used by the rest of the application, presenting the
user with a consistent user interface. *@

<div>Placeholder Content</div>